body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#img1,
#img2 {
  width: 40%;
  margin: 1em;
}

#img1 { float: left; }
#img2 { float: right; }

p {
  text-align: justify;
}
